:root {
  --lighter-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue:   hsl(234, 14%, 74%);
  --light-purple:         hsl(236, 72%, 79%);
  --purple:               hsl(237, 63%, 64%);
  --grayish-blue:         hsl(233, 13%, 49%);
  --dark-grayish-blue:    hsl(232, 13%, 33%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
}

html {
  font-size: 14px;
}

body {
  background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  background-color: var(--lighter-grayish-blue);
  min-height: 100vh;
  display: grid;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat';
  color: var(--grayish-blue);
  padding-top: 4rem;
}

/* img {
  align-self: center;
  flex-grow: 0;
  flex-shrink: 0;
} */

button {
  width: 100%;
  height: 33px;
  max-height: 33px;
  background: linear-gradient(to right, var(--light-purple), var(--purple));
  border-radius: 5px;
  border: 0;
  font-family: inherit;
  color: var(--lighter-grayish-blue);
  font-size: 0.7rem;
  font-weight: 700;
  flex-grow: 0;
  margin-top: 2rem;
}

main {
  display: flex;
  flex-direction: column;
}

.cards, .toggle {
  display: flex;
}

.cards {
  padding-top: 4rem;
}

h2, p {
  font-size: 0.9rem;
}

.heading {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.toggle {
  justify-content: center;
}

.card {
  max-width:40vw;
  max-height: 70vh;
  /* height: fit-content; */
  /* border: 1px solid black; */
  border-radius: 5px;
  padding: 2rem 1.5rem 2rem 1.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.price {
  padding: 1rem;
  border-bottom: solid 1px var(--light-grayish-blue);
}

.price-p {
  font-size: 3rem;
  font-weight: 700;
  color: var(--dark-grayish-blue);
}

.section {
  padding: 1rem 0 1rem 0;
  border-bottom: solid 1px var(--light-grayish-blue);
}

.card-2 {
  transform: scale(1.091);
  background: linear-gradient(var(--light-purple), var(--purple));
  color: white;
  /* padding: 4rem 1.5rem 3rem 1.5rem; */
  /* max-height: 62vh; */
  /* transform: translateY(-2rem); */
}

.card-2 * {
  transform: scale(0.91);
}

.price-2 {
  color: white
}

#button-2 {
  background: white;
  color: var(--purple);
  /* max-height: 33px; */
}