:root {
  --lighter-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue:   hsl(234, 14%, 74%);
  --light-purple:         hsl(236, 72%, 79%);
  --purple:               hsl(237, 63%, 64%);
  --grayish-blue:         hsl(233, 13%, 49%);
  --dark-grayish-blue:    hsl(232, 13%, 33%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
}

html {
  font-size: 14px;
}

body {
  background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  background-color: var(--lighter-grayish-blue);
  min-height: 100vh;
  display: grid;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat';
  color: var(--grayish-blue);
  /* padding-top: 4rem; */
}

main, .cards, .toggle {
  display: flex;
}

main {
  flex-direction: column;
  padding-top: 2rem;
  width: 100%;
  /* width: 70vw; */
}

h2 {
  font-size: 1.3rem;
}

li {
  font-weight: 700;
  padding: 1rem 0 1rem 0;
  border-bottom: solid 1px var(--light-grayish-blue);
}

ul {
  list-style: none;
  /* font-size: 0.8; */
}

a {
  /* display: block; */
  border: none;
  border: 1px solid transparent;
  /* width: 250px; */
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.77rem;
  font-weight: 700;
  letter-spacing: 2px;
  /* padding: 0.8rem 4rem 0.8rem 4rem; */
  padding: 0.8rem;
  color: white;
  margin-top: 2rem;
  background: linear-gradient(to right, var(--light-purple), var(--purple));
}

a:hover {
  border-color: var(--purple);
  color: var(--purple);
  background: transparent;
}

.heading {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.toggle {
  justify-content: center;
}

.cards {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  display: flex;
  padding-top: 4rem;
  /* max-width: 100vw; */
  /* min-width: 70vw; */
  width: 75vw;
}

.card {
  /* width:25vw;
  max-height: 70vh; */
  /* height: fit-content; */
  /* border: 1px solid black; */
  flex: 1;
  border-radius: 10px;
  padding: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* width: fit-content; */
  height: fit-content;
}

.featured {
  /* transform: scaleX(1.05); */
  height: fit-content;
  color: white;
  background: linear-gradient(var(--light-purple), var(--purple));
  padding: 3rem 2rem 3rem 2rem;
  transform: translateY(-1rem);
}

.featured > a {
  background: white;
  color: var(--purple);
}

.featured > a:hover {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.price {
  padding: 1rem;
  border-bottom: solid 1px var(--light-grayish-blue);
  font-size: 4rem;
  font-weight: 700;
  color: var(--dark-grayish-blue);
}

.featured > .price {
  color: white;
}

@media screen and (max-width: 810px) {
  body {
    background-image: url(./images/bg-top.svg);
    background-position: top right;
    padding: 4rem 1.5rem 4rem 1.5rem;
    /* background-size:auto; */
  }
  /* main {
    padding: 6rem 1.5rem 6rem 1.5;
  } */
  .cards {
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
  }
  .featured {
    transform: translate(0);
    padding: 2rem;
  }
}