:root {
  --lighter-grayish-blue: hsl(240, 78%, 98%);
  --light-grayish-blue:   hsl(234, 14%, 74%);
  --light-purple:         hsl(236, 72%, 79%);
  --purple:               hsl(237, 63%, 64%);
  --grayish-blue:         hsl(233, 13%, 49%);
  --dark-grayish-blue:    hsl(232, 13%, 33%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
}

html {
  font-size: 14px;
  font-weight: 700;
}

body {
  background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
  background-position: top right, bottom left;
  background-repeat: no-repeat;
  background-color: var(--lighter-grayish-blue);
  min-height: 100vh;
  display: grid;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat';
  color: var(--grayish-blue);
}

main, .cards, .toggle {
  display: flex;
}

main {
  flex-direction: column;
  padding-top: 2rem;
  width: 100%;
}

h2 {
  font-size: 1.3rem;
}

li {
  padding: 1rem 0 1rem 0;
  border-bottom: solid 1px var(--light-grayish-blue);
}

ul {
  list-style: none;
}

a {
  border: none;
  border: 1px solid transparent;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.77rem;
  letter-spacing: 2px;
  padding: 0.8rem;
  color: white;
  margin-top: 2rem;
  background: linear-gradient(to right, var(--light-purple), var(--purple));
}

a:hover {
  border-color: var(--purple);
  color: var(--purple);
  background: transparent;
}

.heading {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.switch input {
  opacity: 0;
}

.switch {
  /* justify-content: center; */
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  cursor: pointer;
}

.slider {
  position: absolute;
  background: linear-gradient(180deg, var(--light-purple), var(--purple));
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 35px;
}

.slider:hover {
  background: var(--light-purple);
}

.slider::before {
  position: absolute;
  content: '';
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background-color: white;
  transition: .4s;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.pricing {
  color: var(--light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* padding: 48px 0 */
}

.cards {
  display: flex;
  padding-top: 4rem;
  width: 75vw;
}

.card {
  flex: 1;
  border-radius: 10px;
  padding: 2rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.featured {
  height: fit-content;
  color: white;
  background: linear-gradient(var(--light-purple), var(--purple));
  padding: 3rem 2rem 3rem 2rem;
  transform: translateY(-1rem);
}

.featured > a {
  background: white;
  color: var(--purple);
}

.featured > a:hover {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.price {
  padding: 1rem;
  border-bottom: solid 1px var(--light-grayish-blue);
  font-size: 4rem;
  color: var(--dark-grayish-blue);
}

.featured > .price {
  color: white;
}

@media screen and (max-width: 810px) {
  body {
    background-image: url(./images/bg-top.svg);
    background-position: top right;
    padding: 4rem 1.5rem 4rem 1.5rem;    /* why this padding? */
  }
  .cards {
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
  }
  .featured {
    transform: translate(0);
    padding: 2rem;
  }
}